pipeline/Copy file and call notebook.json
{
	"name": "Copy file and call notebook",
	"properties": {
		"description": "Trigger on event ",
		"activities": [
			{
				"name": "CSV to Parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "renewables/tarka/dailyfiles/@{pipeline().parameters.file_Name_Source}"
					},
					{
						"name": "Destination",
						"value": "renewables/tarka/dailyfiles_parquet/@{replace(pipeline().parameters.file_Name_Source,'.csv','.parquet')}"
					}
				],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ids_tarka_destination_csv",
						"type": "DatasetReference",
						"parameters": {
							"file_Name": {
								"value": "@pipeline().parameters.file_Name_Source",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ids_tarka_destination_parquet",
						"type": "DatasetReference",
						"parameters": {
							"fileNameSink": {
								"value": "@replace(pipeline().parameters.file_Name_Source,'.csv','.parquet')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Execute notebook_parametrized",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "CSV to Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "notebook_parameterized",
						"type": "NotebookReference"
					},
					"parameters": {
						"blob_url": {
							"value": {
								"value": "@variables('blob_url')",
								"type": "Expression"
							},
							"type": "string"
						},
						"blob_file_format": {
							"value": "parquet",
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "savsparkpool1",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"driverSize": "Small"
				}
			}
		],
		"parameters": {
			"file_Name_Source": {
				"type": "string"
			}
		},
		"variables": {
			"blob_url": {
				"type": "String",
				"defaultValue": "https://psdlake1.blob.core.windows.net/renewables/tarka/dailyfiles_parquet/ID118892_20231220.parquet"
			}
		},
		"folder": {
			"name": "Production"
		},
		"annotations": [],
		"lastPublishTime": "2024-02-18T12:02:32Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}